button {
    color: black;
    background-color: gray;
    min-height: 40px;
    display: flex;
    align-items: center;
    line-height: 1;
    padding: 0 1.5rem;
    border-radius: 0.25rem;
    border: none;
    font-size: 1rem;
}

button[size='small'] {
    min-height: 32px;
    padding: 0rem 1rem;
    font-size: 0.75rem;
}

button[variant='accent'] {
    color: white;
    background: var(--blue-500);

    &:active {
        background-color: var(--blue-600);
    }
}

button[variant='primary'] {
    color: white;
    background: var(--orange-500);

    &:active {
        background-color: var(--orange-600);
    }
}

menu-toggle:not(:defined)>template[shadowrootmode]~* {
    display: none;
}