:host {
    color: red;
    --bg-color: red;
    --blue-50: #8DCDFF;
    --blue-100: #78C5FF;
    --blue-200: #4FB3FF;
    --blue-300: #27A1FF;
    --blue-400: #008FFD;
    --blue-500: #0078D4;
    --blue-600: #00589C;
    --blue-700: #003864;
    --blue-800: #00192C;
    --blue-900: #000000;
    --blue-950: #000000;
    --orange-50: #FFD4B8;
    --orange-100: #FFC7A3;
    --orange-200: #FFAE7A;
    --orange-300: #FF9652;
    --orange-400: #FF7D29;
    --orange-500: #FF6400;
    --orange-600: #C74E00;
    --orange-700: #8F3800;
    --orange-800: #572200;
    --orange-900: #1F0C00;
    --orange-950: #030100;
}

button {
    color: black;
    background-color: gray;
    min-height: 40px;
    display: flex;
    align-items: center;
    line-height: 1;
    padding: 0 1.5rem;
    border-radius: 0.25rem;
    border: none;
    font-size: 1rem;
}

button[size='small'] {
    min-height: 32px;
    padding: 0rem 1rem;
    font-size: 0.75rem;
}

button[variant='accent'] {
    color: white;
    background: var(--blue-500);

    &:active {
        background-color: var(--blue-600);
    }
}

button[variant='primary'] {
    color: white;
    background: var(--orange-500);

    &:active {
        background-color: var(--orange-600);
    }
}

menu-toggle:not(:defined)>template[shadowrootmode]~* {
    display: none;
}